### 2.1 Pandas vs. Numpy

The pandas library is built on top of numpy, meaning a lot of features, methods, and functions are shared.

By convention, import the library under a short name "pd":

In [2]:
import pandas as pd

#As numpy ndarrays are homogeneous, pandas relaxes this requirement and allows for various dtypes in its data structures.

#### Series

The Series is one building block in pandas. Pandas Series is a one-dimensional labeled array that can hold data of any type (integer, string, float, python objects, etc.), similar to a column in an excel spreadsheet. The axis labels are collectively called index.

If we are given a bag of letters a, b, and c, and count how many of each we have, we find that there are 1 a, 2 b’s, and 3 c’s. We could create a Series by supplying a list of counts and their corresponding labels:

In [3]:
pd.Series([1, 2, 3], index=['a', 'b', 'c']) # with index

a    1
b    2
c    3
dtype: int64

In [5]:
# we can create series with numpy array as well
import numpy as np

pd.Series(np.array([1, 2, 3]), index=['a', 'b', 'c']) # from a 1darray

a    1
b    2
c    3
dtype: int32

In [7]:
# Create Using Dictionary

pd.Series({'a': 1, 'b': 2, 'c':3}) # from a dict

# Note : If we don’t specify the index, by default, the index would be the integer positions starting from 0.

a    1
b    2
c    3
dtype: int64

In [9]:
# In a Series, we can access the value by its index directly:

series = pd.Series({'a': 1, 'b': 2, 'c':3})
series['a']

1

### 2.2 DataFrames

In data science, data is usually more than one-dimensional, and of different data types; thus Series is not sufficient. DataFrames are 2darrays with both row and column labels. One way to create a DataFrame from scratch is to pass in a dict.

In [13]:
wine_dict = {
  'red_wine': [3, 6, 5], 
  'white_wine':[5, 0, 10]
}
sales = pd.DataFrame(wine_dict, index=["adam", "bob", "charles"])
sales

# Note : If we don’t supply index, the DataFrame will generate an integer index starting from 0.

         red_wine  white_wine
adam            3           5
bob             6           0
charles         5          10

In [12]:
# every column in a DataFrame is a Series
# We can access a Series by its name

sales['white_wine']

adam        5
bob         0
charles    10
Name: white_wine, dtype: int64

#### Inspect a DataFrame - Shape and Size

The DataFrame presidents_df is read from a CSV file as follows. Note that index is set to be the names of presidents.

In [28]:
import pandas as pd

presidents_df = pd.read_csv("https://sololearn.com/uploads/files/president_heights_party.csv",index_col='name')

presidents_df.head()

                   order  age  height                  party
name
George Washington      1   57     189                   none
John Adams             2   61     170             federalist
Thomas Jefferson       3   57     189  democratic-republican
James Madison          4   57     163  democratic-republican
James Monroe           5   58     183  democratic-republican

In [21]:
# Similar to numpy, to get the dimensions of a DataFrame, use .shape.

print(presidents_df.shape)

print(presidents_df.shape[0]) # rows

print(presidents_df.shape[1]) # cols

(45, 5)
45
5

In [23]:
#Size also works on DataFrame to return an integer representing the number of elements in this object.
 
presidents_df.size # elements in dataframe (rows * columns) 45 * 5 . index not included

225

#### Inspect a DataFrame - Head and Tail

Instead of looking at the entire dataset, we can just take a peep. To see the first few lines in a DataFrame, use .head(); if we don’t specify n (the number of lines), by default, it displays the first five rows. Here we want to see the top 3 rows.

In [24]:
presidents_df.head() # default 5

presidents_df.head(n=3)

presidents_df.tail(n=3)

presidents_df.head(-40) # ignores last 40 rows and returns the remaining first five rows. and vice-versa for .tail

    order             name  age  height       party
42     43   George W. Bush   54     182  republican
43     44     Barack Obama   47     185  democratic
44     45  Donald J. Trump   70     191  republican

#### Inspect a DataFrame - Info

Use .info() to get an overview of the DataFrame. Its output includes index, column names, count of non-null values, dtypes, and memory usage.

In [25]:
presidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   name    45 non-null     object
 2   age     45 non-null     int64
 3   height  45 non-null     int64
 4   party   45 non-null     object
dtypes: int64(3), object(2)
memory usage: 1.9+ KB

### 2.3 Indexing in Pandas

#### Rows with .loc

Instead of memorizing the integer positions to locate the order, age, height, and party information of Abraham Lincoln, with DataFrame, we can access it by the name using .loc:

In [29]:
presidents_df.loc['Abraham Lincoln']

order             16
age               52
height           193
party     republican
Name: Abraham Lincoln, dtype: object

In [31]:
# The result is a pandas Series of shape (4,).

print(type(presidents_df.loc['Abraham Lincoln']))

presidents_df.loc['Abraham Lincoln'].shape

<class 'pandas.core.series.Series'>

(4,)

In [33]:
# We can also slice by index. Say we are interested in gathering information on all of the presidents between Abraham Lincoln and Ulysses S. Grant:

presidents_df.loc['Abraham Lincoln':'Ulysses S. Grant']

# .loc[ ] allows us to select data by label or by a conditional statement.

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

#### Rows with .iloc

Alternatively, if we do know the integer position(s), we can use .iloc to access the row(s).

In [36]:
presidents_df.iloc[15]

presidents_df.iloc[15:18]

# Both .loc[ ] and .iloc[ ] may be used with a boolean array to subset the data.

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

#### Columns

We can retrieve an entire column from presidents_df by name. First we access all the column names:

In [37]:
presidents_df.columns

Index(['order', 'age', 'height', 'party'], dtype='object')

In [39]:
# Which returns an index object containing all column names. Then we can access the column height by:
presidents_df['height']
presidents_df['height'].shape

(45,)

In [41]:
# To select multiple columns, we pass the names in a list, resulting in a DataFrame. 
# Remember, we can use .head() to access the first 3 rows as shown below:

presidents_df[['height','age']].head(n=3)

# Note : When accessing a single column,
# one bracket results in a Series (single dimension) and double brackets results in a DataFrame (multi dimensional).

                   height  age
name
George Washington     189   57
John Adams            170   61
Thomas Jefferson      189   57

#### More with .loc

If we wanted to access columns order, age, and height, we can do it with .loc. .loc allows us to access any of the columns. For example, if we wanted to access columns from order through height for the first three presidents:

In [42]:
presidents_df.loc[:, 'order':'height'].head(n=3)

                   order  age  height
name
George Washington      1   57     189
John Adams             2   61     170
Thomas Jefferson       3   57     189

### Summary Statistics

#### Min / Max / Mean

It’s not practical to print out an entire dataset with a large sample size. Instead, we want to summarize and characterize sample data using only a few values. Summary statistics include measures of location and measures of spread. Measures of location are quantities that represent the average value of a variable while measures of spread represent how similar or dissimilar the values of a variable are.

Measures of Location - Minimum, Maximum, Mean

Measures of Spread - Range, Variance, Standard Deviation

In [43]:
print(presidents_df.min())

print(presidents_df.max())

print(presidents_df.mean())

order              1
age               42
height           163
party     democratic
dtype: object
order       45
age         70
height     193
party     whig
dtype: object
order      23.022222
age        55.000000
height    180.000000
dtype: float64

#### Quantiles

Quantiles are cut points dividing the range of the data into continuous intervals with an equal number of observations. Median is the only cut point in 2-quantiles, such that 50% of the data is below the median with the other half above it.

Quartiles let us quickly divide a set of data into four groups, making it easy to see which of the four groups a particular data point is in. Quartiles are then 4-quantiles, that is, 25% of the data are between the minimum and first quartile, the next is 25% between the first quartile and median, the next 25% is between the median and the third quartile, and the last 25% of the data lies between the third quartile and the maximum.

In [44]:
presidents_df['age'].quantile([0.25, 0.5, 0.75, 1])

0.25    51.0
0.50    55.0
0.75    58.0
1.00    70.0
Name: age, dtype: float64

Mean and median are usually not of the same value, unless the data is perfectly symmetric. The mean is the average of all the numbers added together and divided by the amount of numbers added. The median is the value separating the higher half from the lower half of the data sample. In the age data, the mean is close to its median, this implies that the data might be symmetric.

In [46]:
presidents_df['age'].mean()

presidents_df['age'].median()

# Both .quantile(0.5) and .median() result in the same output.

55.0

#### Variance and Standard Deviation

In probability and statistics, variance is the mean squared deviation of each data point from the mean of the entire dataset.

You can think of it as how far apart a set of numbers are spread out from their average value. Standard deviation (std) is the square root of variance. A high std implies a large spread, and a low std indicates a small spread, or most points are close to the mean.

In [48]:
const = pd.Series([2, 2, 2])
#const.var()
const.std()

0.0

In [49]:
presidents_df['age'].var()
presidents_df['age'].std()
# Outputs:
# 43.5
# 6.595354

6.59545297913646

#### describe()

describe() prints out almost all of the summary statistics mentioned previously except for the variance. In addition, it counts all non-null values of each column.

In [51]:
presidents_df['age'].describe()
presidents_df.describe()

'''.describe() ignores the null values, such as `NaN` (Not a Number) and generates the descriptive statistics that 
summarize the central tendency (i.e., mean), dispersion (i.e., standard deviation), 
and shape (i.e., min, max, and quantiles) of a dataset’s distribution.'''

'.describe() ignores the null values, such as `NaN` (Not a Number) and generates the descriptive statistics that \nsummarize the central tendency (i.e., mean), dispersion (i.e., standard deviation), \nand shape (i.e., min, max, and quantiles) of a dataset’s distribution.'

In [54]:
presidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, George Washington to Donald J. Trump
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   age     45 non-null     int64
 2   height  45 non-null     int64
 3   party   45 non-null     object
dtypes: int64(3), object(1)
memory usage: 3.0+ KB

#### Categorical Variable

The fourth column 'party' was omitted in the output of .describe() because it is a categorical variable. A categorical variable is one that takes on a single value from a limited set of categories. It doesn’t make sense to calculate the mean of democratic, republican, federalist, and other parties. We can check the unique values and corresponding frequency by using .value_counts():

In [56]:
presidents_df['party'].value_counts()

presidents_df['party'].describe()

count             45
unique             7
top       republican
freq              19
Name: party, dtype: object

### Groupby and Aggregations

#### Groupby

Summary statistics on an entire dataset provides a good overall view, but often we’re interested in some calculation conditional upon a given label or category. For example, what is the average height conditional of the presidents party?

To find the value based on a condition, we can use the groupby operation. Think of groupby doing three steps: split, apply, and combine. The split step breaks the DataFrame into multiple DataFrames based on the value of the specified key; the apply step is to perform the operation inside each smaller DataFrame; the last step combines the pieces back into the larger DataFrame.

In [58]:
presidents_df.groupby('party')

presidents_df.groupby('party').mean()

                           order        age      height
party
democratic             26.066667  52.600000  181.066667
democratic-republican   4.500000  57.250000  176.500000
federalist              2.000000  61.000000  170.000000
national union         17.000000  56.000000  178.000000
none                    1.000000  57.000000  189.000000
republican             29.631579  55.263158  180.894737
whig                   11.000000  58.250000  176.000000

In [59]:
# selecting multiple column
presidents_df.groupby('party')[['height','age']].mean()

                           height        age
party
democratic             181.066667  52.600000
democratic-republican  176.500000  57.250000
federalist             170.000000  61.000000
national union         178.000000  56.000000
none                   189.000000  57.000000
republican             180.894737  55.263158
whig                   176.000000  58.250000

#### Aggregation

We can also perform multiple operations on the groupby object using .agg() method. It takes a string, a function, or a list thereof. For example, we would like to obtain the min, median, and max values of heights grouped by party:

In [63]:
presidents_df.groupby('party')['height'].agg([min, np.median, max])

                       min  median  max
party
democratic             168     180  193
democratic-republican  163     177  189
federalist             170     170  170
national union         178     178  178
none                   189     189  189
republican             168     182  193
whig                   173     174  183

In [62]:
presidents_df.groupby('party').agg({'height': [np.median, np.mean],'age': [min, max]})

                      height             age
                      median        mean min max
party
democratic               180  181.066667  43  65
democratic-republican    177  176.500000  57  58
federalist               170  170.000000  61  61
national union           178  178.000000  56  56
none                     189  189.000000  57  57
republican               182  180.894737  42  70
whig                     174  176.000000  50  68